{% extends "base.html" %}

{% block nav_links %}
<li class="nav-item">
    <a class="nav-link" href="/logout">Выйти</a>
</li>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="text-center bg-white pt-4">
    <img src="static/img/user_profile.svg" class="border rounded-circle" alt="avatar" style="width: 150px;" />
    <h3 class="mt-2">{{ current_user.username }}</h3>
    <p class="text-secondary mb-4">{{ current_user.email }}</p>
    <hr class="mt-3 mb-0">
</div>

<div class="py-5">
    <h3 class="text-center mb-5">Посты</h3>
    {% for post in posts %}
    <section class="mt-3">
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <a href="">
                        <img src="static/img/user_profile.svg" class="border rounded-circle me-2" alt="avatar"
                            style="height: 40px" />
                    </a>
                    <div>
                        <strong class="text-dark">{{ post.sender.firstName }} {{ post.sender.lastName }}</strong>
                        <small class="text-muted d-block" style="margin-top: -6px">{{ post.sentAgo }}</small>
                    </div>
                </div>
                <div>
                    <p>{{ post.text }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
</div>

{% endblock %}