{% extends "base.html" %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Вход</div>

                <div class="card-body">
                    <form method="POST" action="" novalidate>
                        {{ form.hidden_tag() }}

                        <div class="row mb-3">
                            {{ form.first_name.label(class="col-md-4 col-form-label text-md-end") }}

                            <div class="col-md-6">
                                {{ form.first_name(size=32, class="form-control", autocomplete="off") }}
                                {% for error in form.first_name.errors %}
                                <div class="form-text text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            {{ form.last_name.label(class="col-md-4 col-form-label text-md-end") }}

                            <div class="col-md-6">
                                {{ form.last_name(size=32, class="form-control", autocomplete="off") }}
                                {% for error in form.last_name.errors %}
                                <div class="form-text text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            {{ form.login.label(class="col-md-4 col-form-label text-md-end") }}

                            <div class="col-md-6">
                                {{ form.login(size=32, class="form-control", autocomplete="off") }}
                                <div class="form-text">{{ form.login.description }}</div>
                                {% for error in form.login.errors %}
                                <div class="form-text text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            {{ form.password.label(class="col-md-4 col-form-label text-md-end") }}

                            <div class="col-md-6">
                                {{ form.password(size=32, class="form-control", autocomplete="off") }}
                                <div class="form-text">{{ form.password.description }}</div>
                                {% for error in form.password.errors %}
                                <div class="form-text text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            {{ form.confirm_password.label(class="col-md-4 col-form-label text-md-end") }}

                            <div class="col-md-6">
                                {{ form.confirm_password(size=32, class="form-control", autocomplete="off") }}
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-md-8 offset-md-4">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}